<html>
  <head>
    <title>Sinatra - Hangman</title>
  </head>
  <body>
    <p>
      <%= message %>
    </p>
    <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess this letter!' />
    </form>
  </body>
</html>