<html>
  <head></head>
  <body>
    <p>
      <%= message %>
    </p>
    <form>
    <input type='text' name='phrase' />
    <input type='text' name='offset' />
    <input type='submit' value='Scramble!' />
    </form>
  </body>
</html>